{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  <h1>My Portfolio</h1>
  <p class="lead">
    Welcome to my portfolio! Explore my projects, skills, and experience in web
    development and software engineering.
  </p>
  <p>
    <a href="/portfolio" class="btn btn-primary btn-large"
      >View My Work &raquo;</a
    >
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>About Me</h2>
    <p>
      I'm a passionate developer with experience in web development, creating
      dynamic and responsive applications using modern technologies and best
      practices.
    </p>
    <p><a class="btn btn-default" href="/about">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>My Projects</h2>
    <p>
      Explore my collection of web applications, software projects, and
      technical solutions that showcase my skills and creativity.
    </p>
    <p>
      <a class="btn btn-default" href="/portfolio">View Projects &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Get In Touch</h2>
    <p>
      Interested in collaborating or have a project in mind? I'd love to hear
      from you and discuss how we can work together.
    </p>
    <p><a class="btn btn-default" href="/contact">Contact Me &raquo;</a></p>
  </div>
</div>

{% endblock %}
